name: Sync to Hugging Face Hub

on:
  push:
    branches: [main]  # Or 'master' if your branch is named master

  # This allows you to run it manually from the Actions tab for testing
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Push to hub
        env:
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"

          git lfs install
          git lfs track "*.pth"
          git add .gitattributes
          
          # Force the large file to be tracked by LFS
          # (This converts the 70MB file into a tiny pointer file for the upload)
          git add Backend/*.pth
          git commit -m "Convert model to LFS" || true

          
          git remote add space https://akshay1306:$HF_TOKEN@huggingface.co/spaces/akshay1306/moodquest-api
          git push --force space main